body {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(to top right, #5c2669, #462c9c, #472cc0, #9582e7, #822dbb);
    background-attachment: fixed;
}

.container {
    display: flex;
    box-shadow: 0 6px 20px rgba(0,0,0,0.20);
    background-color: #7119a3;
    height: 70px;
}

.container a {
     flex-wrap: wrap;
     gap: 10px;
     padding-bottom: 40px;
     padding-top: 40px;
     font-family: Georgia, serif;
     color: black;
     text-align: left;
     font-size: 14px;
}

#item1{
    padding-left: 30px;
     flex: 1 1 150px;
}

#item2, #item3{
    flex: 1 1 100px;
   padding-left: 10px;
   padding-right: 10px;
   color: rgb(20, 27, 27)
}
#item4{
    flex: 1 1 100px;
   padding-left: 10px;
   padding-right: 80px; 
   margin-right: 90px;
    color: rgb(20, 27, 27)
}

#item5{
    flex: 1 1 100px;
      margin-left: 60px;
    padding-left: 90px;
    padding-right: 0px;
    color: rgb(20, 27, 27)
}
#item6{
    flex: 1 1 100px;
     color: rgb(20, 27, 27)

}
