<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <!-- <link href="style.css" rel="stylesheet"> --!>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<nav class="container">

  <a id="item1">&#10051; Workout Assistant</a>
  <a id="item2">Learn More</a>
  <a id="item3">Support</a>
  <a id="item4">Features</a>
  <a id="item5">Login</a>
   <a id="item6">Sign up</a>
   
</nav>
</body>
</html>
