<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>
<body>
  
<nav class="container">

  <a href="#workout" id="item1">&#10051; Workout Assistant</a>
  <a href="{% url 'workout-logger' %}" id="item3">Log your first workout!</a>
  {% if user.is_authenticated %}
    <a href="{% url 'account_logout' %}" id="item4">Logout</a>
  {% else %}
    <a href="{% url 'account_login' %}" id="item4">Login</a>
    <a href="{% url 'account_signup' %}" id="item5">Sign up</a>
  {% endif %}
   
</nav>

<div class="Intro">
<h2>Find your <span id="word">motivation.</span></h2>

</div>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
