<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="dist/styles.css" rel="stylesheet" />
   <link href="style.css" rel="stylesheet" />
</head>
<body>
<nav class="container">

  <a href="#workout" id="item1">&#10051; Workout Assistant</a>
  <a href="learn" id="item2">Learn More</a>
  <a href="#support" id="item3">Support</a>
  <a href="feature" id="item4">Features</a>
  <a href="login" id="item5">Login</a>
   <a href="signup" id="item6">Sign up</a>
   
</nav>
</body>
</html>
