body {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(to top right, #69247a, #65219c, #6722d6, #846fe0, #7423aa);
    background-attachment: fixed;
}

.container {
    display: flex;
    box-shadow: 0 6px 20px rgba(0,0,0,0.20);
    background-color: #7d3faf;
    height: 70px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container a {
     flex-wrap: wrap;
     gap: 10px;
     margin-top: 40px;
     margin-bottom: 40px;
     padding: auto;
     font-family: Georgia, serif;
     color: black;
     text-align: left;
     text-decoration: none;
     font-size: 14px;
}

#item1{
    padding-left: 30px;
     flex: 1 1 150px;
}

#item2, #item3{
    flex: 1 1 100px;
   padding-left: 10px;
   padding-right: 10px;
   color: rgb(20, 27, 27)
}
#item4{
    flex: 1 1 100px;
   padding-left: 10px;
   padding-right: 80px; 
   margin-right: 90px;
    color: rgb(20, 27, 27)
}

#item5{
    flex: 1 1 100px;
      margin-left: 40px;
    padding-left: 90px;
    padding-right: 0px;
    color: rgb(20, 27, 27)
}
#item6{
    flex: 1 1 90px;
     color: rgb(20, 27, 27)

}

/* style for bars */

nav a::after {
  content: "      |";        /* the bar */
  margin: 0 30px;
  color: #0a0a0a;
}

nav a:last-child::after {
  content: "";    
}

#item4::after{
    content: "";
}

#item5::after{
     content: "      |";        /* the bar */
  margin: 0 50px;
  color: #0a0a0a;
}

/* style for links */

.container a:hover{
   font-size: 13px;
   text-shadow: 3px 3px 4px rgba(0,0,0,0.20) ;
   background-color: #bbbabe;
}

